# Aegis Skeleton ESP
# Bone Offsets Reference:
# Head: 0x5b8 | Hip: 0x5c0 | Chest: 0x5c8 | Root: 0x5e0

draw_skeleton = true
bone_head = 0x5b8
bone_hip = 0x5c0
bone_chest = 0x5c8
bone_root = 0x5e0
bone_left_ankle = 0x5f0
bone_right_ankle = 0x5f8

# Visual Settings
skeleton_color = "#FF00FF"
line_thickness = 2.0
render_thru_walls = true
